<%-include("header")%>
<!-- ddddddddddd -->
  <div class="container mt-3">
    <div>
        <%=msg%>
    </div>
        <div class="col-4">
            <form method="post" enctype="multipart/form-data">               
                <label class="form-label" for="customFile">Upload Comic file .cbz or .cbr</label>
                <input name="fileComicUpload" type="file" class="form-control" id="customFile" />
                <br>
                <input type="submit" class="btn btn-secondary" value="Upload Image" name="submit">
            </form>
        </div>
  </div>
<%-include("footer")%>