<%- include("header") %>
<div class="container content_c d-flex mt-5 justify-content-center">
    <form method="post">
        <input class="form-control" type="text" name="username" placeholder="Username"><br>
        <input class="form-control" type="password" name="passowrd" placeholder="Password"><br>
        <button class="btn btn-secondary">Login</button>
    </form>
</div>
<%- include("footer") %>