<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <%=msg%>
    </div>
    <form method="post">
        <input name="username" value="<%=username%>" placeholder="username" type="text"><br>
        <input name="email" value="<%=email%>" placeholder="email" type="text"><br>
        <input name="password" value="<%=password%>" placeholder="Password" type="password"><br>
        <button>Register</button><br>
    </form>
</body>
</html>