.coverImage:hover{
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
}

.content_c{
  min-height: 1000px;
}

a{
  text-decoration: none;
}


#infoComic{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 25%;
  right: 0;
  border-radius: 4px 0px 0px 4px;
  bottom: 25%;
  z-index: 10;
}

#leftTrigger{
  position: absolute;
  top:25%;
  bottom:25%;
  left:0;
  visibility: hidden;
  padding:0px 10px 0px 10px;
  z-index:1;
  font-size:40px;
  opacity: 0.1;
}
#rightTrigger{
  position: absolute;
  top:25%;
  bottom:25%;
  right:0;
  visibility: hidden;
  padding:0px 10px 0px 10px;
  z-index:1;
  font-size:40px;
  opacity: 0.1;
}

a i:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
  color:white;
  opacity: 1;
}
